.information {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.information .window {
    box-sizing: border-box;
    display: inline-block;
    width: 85%;
    max-width: 600px;
    border-radius: 30px;
    background-color:var(--bgColor-default);
    box-shadow: 0 0 30px rgba(0, 0, 0, .6);
    vertical-align: middle;
    padding: 20px 0 20px;
}

[data-theme="dark"] body {
    --bgColor-default:#1C1D23;
    --color:#f0f6fc;
}

[data-theme="light"] body {
    --bgColor-default:#F2F3F5;//#e5e7eb;
    --color:#1f2328;
}

[data-theme="dark"] .information {
    --bgColor-default:#26272F;
    --color:#f0f6fc;
}

[data-theme="light"] .information {
    --bgColor-default:#fff;
    --color:#1f2328;
}


[data-theme="dark"] .blog {
    --bgColor-default:#26272F;
    --color:#f0f6fc;
}


[data-theme="light"] .blog {
    --bgColor-default:#fff;
    --color:#1f2328;
}


body {
    background-color:var(--bgColor-default);
    color: var(--color);
    font-family:'Arial Black';
    text-align: center;
    word-break: break-all;
}

.icon {
    display: block;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
    margin-bottom: 0;
    margin: 0 auto;
}

.title {
    margin:50px auto 0;
}

.blog {
    height: 80px;
    margin: 0px auto 20px;
    text-align: left;
    box-sizing: border-box;
    width: 85%;
    max-width: 600px;
    border-radius: 30px;
    background-color:var(--bgColor-default);
    box-shadow: 0 0 30px rgba(0, 0, 0, .6);
    white-space: nowrap;
    color: var(--color);
}



.blog h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog h2 .date {
  font-size: 0.6em;
  opacity: 0.6;
  margin-left: 12px;
  flex-shrink: 0;
}


a {
    text-decoration:none;
    color: inherit;
}

.change_theme {
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    background-color: #5865F2;
    color: white;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.basic_button {
    display: inline-block;
    vertical-align: top;
    magin: 2px;
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    background-color: #5865F2;
    color: white;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
